div.content{ 
	background: #74DF00; 
	margin: 5px;
}

div#nav{
	height: 500px;
	width: 110px;
}
div#header{
	height: 75px;
	width: 530px;
	position: absolute;
	top: 5px;
	left: 130px;
}
div#article{
	height: 235px;
	width: 530px;
	position: absolute;
	top: 90px;
	left: 130px;
}
div#ads{
	height: 75px;
	width: 530px;
	position: absolute;
	top: 340px;
	left: 130px;
}
div#footer{
	height: 75px;
	width: 530px;
	position: absolute;
	top: 430px;
	left: 130px;
}
